<!DOCTYPE html>
<%- include('../partials/head') %> 
<head>
  <link rel="stylesheet" href="/css/productShop.css">
  <title>Document</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <% for (let i=0; i<products.length; i++) {%>
      <h2><%= products[i].variation %> </h2>
    <% } %> 
  </main>
  <%- include('../partials/footer') %> 
</body>
</html>